
# 2.1
# # Wie groß ist die Stichprobengröße des Datensatzes?  
423228.

## Wer oder was sind die Merkmalsträger? 
Bibliothekskunden der SF Public Library.
 
## Von wann bis wann wurden die Daten erhoben? 
2003 - 2016 

## Wie lässt sich die Grundgesamtheit beschreiben? Handelt es sich um eine Vollerhebung?
Grundgesamtheit: alle Bibliothekskunden der San Francisco Library

## Welche Merkmale sind stetig? Welche diskret?
stetig: Total Checkouts, Total Renewals, superviser district
diskret: alle andere

## Welchem Skalenniveau entsprechen die einzelnen Merkmale (Nominal-, Ordinal- oder Metrische Skala)?

Nominal: Patron Type Definition,Patron Type Code, Home Library Code, Home Library Definition, 
 , Notice Preference Code, Notice Preference Definition, 
 Provided Email Address, 
 
Ordinal: Age Range?  CIrculation Active Month, 

Metrische: Total Checkouts, Total Renewals, Circulation Active Year, Year Patron Registered, supervisor District

## Enthält der Datensatz fehlende Werte? 
ja 

## Handelt es sich um Querschnitts-, Längsschnitss- oder Paneldaten?
Querschnittsdaten.

In [25]:
import os
import pandas as pd
 
dir = os.getcwd().replace("notebook","")
#print(dir+os.path.sep+"data"+os.path.sep)
pd.read_csv(dir+os.path.sep+"data"+os.path.sep+"Library_Usage.csv")
#output  423448 rows × 15 columns: 423448 Datensätze, 15 Merkmale

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,March,2015,p,phone,False,2009,False,9.0
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,July,2016,z,email,True,2016,False,6.0
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,July,2016,z,email,True,2014,False,9.0
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,April,2015,z,email,True,2003,False,9.0
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,None,None,a,print,False,2015,False,8.0

In [26]:
df = pd.read_csv(dir+os.path.sep+"data"+os.path.sep+"Library_Usage.csv")
type(df)
#data taye :pandas.core.frame.DataFrame

pandas.core.frame.DataFrame

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423448 entries, 0 to 423447
Data columns (total 15 columns):
Patron Type Code                423448 non-null int64
Patron Type Definition          423448 non-null object
Total Checkouts                 423448 non-null int64
Total Renewals                  423448 non-null int64
Age Range                       423233 non-null object
Home Library Code               423408 non-null object
Home Library Definition         423448 non-null object
Circulation Active Month        423448 non-null object
Circulation Active Year         423448 non-null object
Notice Preference Code          423448 non-null object
Notice Preference Definition    423448 non-null object
Provided Email Address          423448 non-null bool
Year Patron Registered          423448 non-null int64
Outside of County               423448 non-null bool
Supervisor District             313138 non-null float64
dtypes: bool(2), float64(1), int64(4), object(8)
memory usage: 42.8+ MB

In [4]:
df.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Outside of County', 'Supervisor District'],
      dtype='object')

In [9]:
df['Circulation Active Year'].unique()

array(['None', '2016', '2014', '2015', '2012', '2013', '2011', '2009',
       '2010', '2007', '2006', '2008', '2005', '2004', '2003'],
      dtype=object)

# 2.2 Skalenniveau und Datentypen

In [73]:
x= pd.Series([34,12,23,45])
print(x)
x.dtype

0    34
1    12
2    23
3    45
dtype: int64

dtype('int64')

In [74]:
data = {'month': ['Jan', 'Feb', 'Mar'],
        'temp': [-5, 2, 3],
        'below_zero': [True, False, False]}
df2=pd.DataFrame(data)
print(df2)
df2.info()

  month  temp  below_zero
0   Jan    -5        True
1   Feb     2       False
2   Mar     3       False
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
month         3 non-null object
temp          3 non-null int64
below_zero    3 non-null bool
dtypes: bool(1), int64(1), object(1)
memory usage: 179.0+ bytes

# Skalenniveau
month: norminal diskret object

temp: kardinal stetig int

below_zero: norminal diskret bool

In [76]:
df3 =pd.DataFrame([["Apr",5, False]],columns=df2.columns)
#df2.append(df3,ignore_index=True)
#print(df2.columns)
#print(df2)
#print(df3)
df2=df2.append(df3,ignore_index=True)
print(df2)

  month  temp  below_zero
0   Jan    -5        True
1   Feb     2       False
2   Mar     3       False
3   Apr     5       False

In [77]:
df4 =pd.DataFrame([2020,2020,2020,2020],columns=["year"])
df2.join(df4)

  month  temp  below_zero  year
0   Jan    -5        True  2020
1   Feb     2       False  2020
2   Mar     3       False  2020
3   Apr     5       False  2020

# 2.3 Exkurs: Datenrundreise

In [24]:
import os
import pandas as pd
 
dir = os.getcwd().replace("notebook","")
#print(dir+os.path.sep+"data"+os.path.sep)
dfsmall=pd.read_csv(dir+os.path.sep+"data"+os.path.sep+"Library_Usage_Small.csv")
dfsmall

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,1,JUVENILE,518,8,10 to 19 years,V3,Visitacion Valley,July,2016,p,phone,False,2010,False,10.0
1,1,JUVENILE,38,0,0 to 9 years,P1,Park,June,2016,z,email,True,2015,False,4.0
2,0,ADULT,38,4,10 to 19 years,N4,Noe Valley/Sally Brunn,November,2008,z,email,True,2003,False,8.0
3,0,ADULT,48,48,20 to 24 years,O7,Ortega,February,2013,p,phone,False,2004,False,10.0
4,1,JUVENILE,28,13,0 to 9 years,E9,Excelsior,June,2016,z,email,True,2014,False,11.0
5,1,JUVENILE,1,0,10 to 19 years,M4,Merced,May,2016,z,email,True,2016,False,11.0
6,1,JUVENILE,293,11,0 to 9 years,M6,Mission,June,2016,z,email,True,2014,False,8.0
7,1,JUVENILE,900,6,0 to 9 years,V3,Visitacion Valley,June,2016,a,print,False,2011,False,10.0
8,1,JUVENILE,1569,801,10 to 19 years,W4,Western Addition,July,2016,z,email,True,2009,False,8.0
9,1,JUVENILE,45,0,0 to 9 years,A5,Anza,June,2016,z,email,True,2015,False,1.0
10,1,JUVENILE,0,0,0 to 9 years,S7,Sunset,None,None,p,phone,False,2015,False,7.0
11,1,JUVENILE,73,8,0 to 9 years,P3,Parkside,July,2016,z,email,True,2015,False,4.0
12,1,JUVENILE,12,0,0 to 9 years,X,Main Library,October,2015,z,email,True,2015,False,6.0
13,2,YOUNG ADULT,26,3,10 to 19 years,M4,Merced,November,2015,z,email,True,2009,False,NaN
14,0,ADULT,0,0,10 to 19 years,M4,Merced,None,None,z,email,True,2015,True,NaN
15,3,SENIOR,18,6,75 years and over,W2,West Portal,June,2015,p,phone,False,2003,False,7.0
16,1,JUVENILE,603,0,0 to 9 years,X,Main Library,July,2016,a,print,False,2012,False,11.0
17,1,JUVENILE,0,0,0 to 9 years,A5,Anza,None,None,z,email,True,2015,False,1.0
18,1,JUVENILE,7,0,0 to 9 years,B2,Bayview/Linda Brooks-Burton,December,2013,p,phone,False,2013,False,10.0
19,3,SENIOR,0,0,75 years and over,S7,Sunset,None,None,z,email,True,2008,True,NaN

In [90]:
dfsmall.to_json("../data/Library_Usage_Small.json")

In [91]:
pd.read_json("../data/Library_Usage_Small.json").to_html("../data/Library_Usage_Small.html")

In [110]:
type(pd.read_html("../data/Library_Usage_Small.html"))
htmllist = pd.read_html("../data/Library_Usage_Small.html")
htmldf=htmllist[0]
type(htmldf)

#.("../data/Library_Usage_Smallexcel.xlsx")
#htmllist
#pd.DataFrame(htmllist)

pandas.core.frame.DataFrame

In [114]:
htmldf.to_excel('../data/Library_Usage_Smallnew.xlsx', index=False)
dfnewexcel = pd.read_excel('../data/Library_Usage_Smallnew.xlsx')
dfnewexcel.to_csv('../data/Library_Usage_Smallnew.csv')

# 2.4 Exkurs: Arbeitsspeicher
339 GB Frei
339000000000 Byte / 8 = 42.375.000.000 int64 Werte

In [10]:
df.info(memory_usage='deep')
# df memory usage: 222.5 MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423448 entries, 0 to 423447
Data columns (total 15 columns):
Patron Type Code                423448 non-null int64
Patron Type Definition          423448 non-null object
Total Checkouts                 423448 non-null int64
Total Renewals                  423448 non-null int64
Age Range                       423233 non-null object
Home Library Code               423408 non-null object
Home Library Definition         423448 non-null object
Circulation Active Month        423448 non-null object
Circulation Active Year         423448 non-null object
Notice Preference Code          423448 non-null object
Notice Preference Definition    423448 non-null object
Provided Email Address          423448 non-null bool
Year Patron Registered          423448 non-null int64
Outside of County               423448 non-null bool
Supervisor District             313138 non-null float64
dtypes: bool(2), float64(1), int64(4), object(8)
memory usage: 222.5 MB

In [11]:
df.memory_usage(deep=True)

Index                                128
Patron Type Code                 3387584
Patron Type Definition          26722568
Total Checkouts                  3387584
Total Renewals                   3387584
Age Range                       30022389
Home Library Code               25359505
Home Library Definition         28744750
Circulation Active Month        26356718
Circulation Active Year         25830328
Notice Preference Code          26253764
Notice Preference Definition    26253773
Provided Email Address            423448
Year Patron Registered           3387584
Outside of County                 423448
Supervisor District              3387584
dtype: int64

# 2.5 Fallstudie: Feature Engineering

In [27]:
df.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Outside of County', 'Supervisor District'],
      dtype='object')

In [29]:
x = df["Total Renewals"]
print(type(x))
print(x)

<class 'pandas.core.series.Series'>
0          0
1         22
2          0
3          0
4         11
          ..
423443    13
423444    11
423445    58
423446     0
423447     0
Name: Total Renewals, Length: 423448, dtype: int64

In [22]:
# df[['Total Renewals', 'Total Checkouts']]
column_names = ['Total Renewals', 'Total Checkouts'] # auxiliary variable
subset = df[column_names]
print(subset)
type(subset)

        Total Renewals  Total Checkouts
0                    5                0
1                    5               31
2                    5                0
3                    5                0
4                    5              126
...                ...              ...
423443               5              291
423444               5               15
423445               5              208
423446               5               26
423447               5                0

[423448 rows x 2 columns]

pandas.core.frame.DataFrame

In [17]:
df['dummy_variable'] = 5

In [18]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,dummy_variable
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0,5
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0,5
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN,5
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0,5
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,March,2015,p,phone,False,2009,False,9.0,5
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,July,2016,z,email,True,2016,False,6.0,5
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,July,2016,z,email,True,2014,False,9.0,5
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,April,2015,z,email,True,2003,False,9.0,5
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,None,None,a,print,False,2015,False,8.0,5

In [30]:
x = df['Total Renewals']
print(x)
df['Total Renewals'] = 5
x

0          0
1         22
2          0
3          0
4         11
          ..
423443    13
423444    11
423445    58
423446     0
423447     0
Name: Total Renewals, Length: 423448, dtype: int64

0         5
1         5
2         5
3         5
4         5
         ..
423443    5
423444    5
423445    5
423446    5
423447    5
Name: Total Renewals, Length: 423448, dtype: int64

In [20]:
type(x)

pandas.core.series.Series

In [31]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,5,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0
1,0,ADULT,31,5,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0
2,0,ADULT,0,5,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN
3,0,ADULT,0,5,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0
4,0,ADULT,126,5,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423443,0,ADULT,291,5,10 to 19 years,P5,Portola,March,2015,p,phone,False,2009,False,9.0
423444,0,ADULT,15,5,60 to 64 years,M8,Mission Bay,July,2016,z,email,True,2016,False,6.0
423445,5,STAFF,208,5,0 to 9 years,B4,Bernal Heights,July,2016,z,email,True,2014,False,9.0
423446,0,ADULT,26,5,10 to 19 years,M6,Mission,April,2015,z,email,True,2003,False,9.0
423447,1,JUVENILE,0,5,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,None,None,a,print,False,2015,False,8.0

In [32]:
df = pd.read_csv("../data/Library_Usage.csv")

In [34]:
import numpy as np

df['is_adult'] = df['Patron Type Definition'] == 'ADULT'
df['log_renewals'] = np.log(df['Total Renewals'] + 1)
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,is_adult,log_renewals
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0,True,0.000000
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0,True,3.135494
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN,True,0.000000
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0,True,0.000000
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0,True,2.484907
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,March,2015,p,phone,False,2009,False,9.0,True,2.639057
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,July,2016,z,email,True,2016,False,6.0,True,2.484907
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,July,2016,z,email,True,2014,False,9.0,False,4.077537
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,April,2015,z,email,True,2003,False,9.0,True,0.000000
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,None,None,a,print,False,2015,False,8.0,False,0.000000

In [41]:
df['Circulation Active Year'] = pd.to_numeric(
  df['Circulation Active Year'], errors='coerce'
)
#df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,is_adult,log_renewals
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,NaN,z,email,True,2014,False,5.0,True,0.000000
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016.0,z,email,True,2010,False,4.0,True,3.135494
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,NaN,a,print,False,2016,True,NaN,True,0.000000
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,NaN,z,email,True,2015,False,3.0,True,0.000000
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016.0,z,email,True,2003,False,2.0,True,2.484907
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,March,2015.0,p,phone,False,2009,False,9.0,True,2.639057
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,July,2016.0,z,email,True,2016,False,6.0,True,2.484907
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,July,2016.0,z,email,True,2014,False,9.0,False,4.077537
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,April,2015.0,z,email,True,2003,False,9.0,True,0.000000
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,None,NaN,a,print,False,2015,False,8.0,False,0.000000

In [42]:
df['Circulation Active Month']= pd.to_datetime(
    df['Circulation Active Month'],
    errors='coerce',
    format="%B"
)

In [43]:
#df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,is_adult,log_renewals
0,0,ADULT,0,0,20 to 24 years,P1,Park,NaT,NaN,z,email,True,2014,False,5.0,True,0.000000
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,1900-04-01,2016.0,z,email,True,2010,False,4.0,True,3.135494
2,0,ADULT,0,0,45 to 54 years,P1,Park,NaT,NaN,a,print,False,2016,True,NaN,True,0.000000
3,0,ADULT,0,0,25 to 34 years,X,Main Library,NaT,NaN,z,email,True,2015,False,3.0,True,0.000000
4,0,ADULT,126,11,45 to 54 years,M2,Marina,1900-01-01,2016.0,z,email,True,2003,False,2.0,True,2.484907
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,1900-03-01,2015.0,p,phone,False,2009,False,9.0,True,2.639057
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,1900-07-01,2016.0,z,email,True,2016,False,6.0,True,2.484907
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,1900-07-01,2016.0,z,email,True,2014,False,9.0,False,4.077537
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,1900-04-01,2015.0,z,email,True,2003,False,9.0,True,0.000000
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,NaT,NaN,a,print,False,2015,False,8.0,False,0.000000

In [44]:
df['Circulation Active Month']=df['Circulation Active Month'].dt.month
#df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,is_adult,log_renewals
0,0,ADULT,0,0,20 to 24 years,P1,Park,NaN,NaN,z,email,True,2014,False,5.0,True,0.000000
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,4.0,2016.0,z,email,True,2010,False,4.0,True,3.135494
2,0,ADULT,0,0,45 to 54 years,P1,Park,NaN,NaN,a,print,False,2016,True,NaN,True,0.000000
3,0,ADULT,0,0,25 to 34 years,X,Main Library,NaN,NaN,z,email,True,2015,False,3.0,True,0.000000
4,0,ADULT,126,11,45 to 54 years,M2,Marina,1.0,2016.0,z,email,True,2003,False,2.0,True,2.484907
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,3.0,2015.0,p,phone,False,2009,False,9.0,True,2.639057
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,7.0,2016.0,z,email,True,2016,False,6.0,True,2.484907
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,7.0,2016.0,z,email,True,2014,False,9.0,False,4.077537
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,4.0,2015.0,z,email,True,2003,False,9.0,True,0.000000
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,NaN,NaN,a,print,False,2015,False,8.0,False,0.000000

In [45]:
df['Membership Duration'] = (df['Circulation Active Year'] - df['Year Patron Registered'])*12 + df['Circulation Active Month']

In [46]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,is_adult,log_renewals,Membership Duration
0,0,ADULT,0,0,20 to 24 years,P1,Park,NaN,NaN,z,email,True,2014,False,5.0,True,0.000000,NaN
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,4.0,2016.0,z,email,True,2010,False,4.0,True,3.135494,76.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,NaN,NaN,a,print,False,2016,True,NaN,True,0.000000,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,NaN,NaN,z,email,True,2015,False,3.0,True,0.000000,NaN
4,0,ADULT,126,11,45 to 54 years,M2,Marina,1.0,2016.0,z,email,True,2003,False,2.0,True,2.484907,157.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,3.0,2015.0,p,phone,False,2009,False,9.0,True,2.639057,75.0
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,7.0,2016.0,z,email,True,2016,False,6.0,True,2.484907,7.0
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,7.0,2016.0,z,email,True,2014,False,9.0,False,4.077537,31.0
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,4.0,2015.0,z,email,True,2003,False,9.0,True,0.000000,148.0
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,NaN,NaN,a,print,False,2015,False,8.0,False,0.000000,NaN

In [49]:
df['Membership Duration']=df['Membership Duration'].fillna(0)

In [50]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,is_adult,log_renewals,Membership Duration
0,0,ADULT,0,0,20 to 24 years,P1,Park,NaN,NaN,z,email,True,2014,False,5.0,True,0.000000,0.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,4.0,2016.0,z,email,True,2010,False,4.0,True,3.135494,76.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,NaN,NaN,a,print,False,2016,True,NaN,True,0.000000,0.0
3,0,ADULT,0,0,25 to 34 years,X,Main Library,NaN,NaN,z,email,True,2015,False,3.0,True,0.000000,0.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,1.0,2016.0,z,email,True,2003,False,2.0,True,2.484907,157.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,3.0,2015.0,p,phone,False,2009,False,9.0,True,2.639057,75.0
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,7.0,2016.0,z,email,True,2016,False,6.0,True,2.484907,7.0
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,7.0,2016.0,z,email,True,2014,False,9.0,False,4.077537,31.0
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,4.0,2015.0,z,email,True,2003,False,9.0,True,0.000000,148.0
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,NaN,NaN,a,print,False,2015,False,8.0,False,0.000000,0.0

# 2.6 Filtern

In [53]:
# Filtere den Datensatz nach Kindern unter 10 Jahren. Wie viele Einträge erhältst Du? 38242
row_filter1 = (df['Age Range'] == '0 to 9 years')
df.loc[row_filter1]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,is_adult,log_renewals,Membership Duration
287,1,JUVENILE,0,0,0 to 9 years,M6,Mission,NaN,NaN,p,phone,False,2014,False,6.0,False,0.000000,0.0
289,1,JUVENILE,20,0,0 to 9 years,E9,Excelsior,7.0,2016.0,z,email,True,2016,False,11.0,False,0.000000,7.0
291,1,JUVENILE,53,31,0 to 9 years,A5,Anza,6.0,2013.0,z,email,True,2012,False,1.0,False,3.465736,18.0
292,1,JUVENILE,1,0,0 to 9 years,O7,Ortega,6.0,2014.0,z,email,True,2014,False,5.0,False,0.000000,6.0
295,1,JUVENILE,0,0,0 to 9 years,A5,Anza,NaN,NaN,z,email,True,2016,False,8.0,False,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423434,1,JUVENILE,10,0,0 to 9 years,V3,Visitacion Valley,9.0,2015.0,p,phone,False,2012,False,10.0,False,0.000000,45.0
423437,1,JUVENILE,0,0,0 to 9 years,W4,Western Addition,NaN,NaN,z,email,True,2015,False,5.0,False,0.000000,0.0
423439,1,JUVENILE,0,0,0 to 9 years,N4,Noe Valley/Sally Brunn,NaN,NaN,z,email,True,2015,False,8.0,False,0.000000,0.0
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,7.0,2016.0,z,email,True,2014,False,9.0,False,4.077537,31.0
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,NaN,NaN,a,print,False,2015,False,8.0,False,0.000000,0.0

In [65]:
#Gibt es Personen mit mehr als 20000 Ausleihen?ja 3
filter1 = (df['Total Checkouts'] >= 20000)
filter1.unique()
df.loc[filter1]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,is_adult,log_renewals,Membership Duration
146615,0,ADULT,24093,383,45 to 54 years,X,Main Library,7.0,2016.0,p,phone,True,2003,False,4.0,True,5.950643,163.0
163893,3,SENIOR,25223,448,65 to 74 years,X,Main Library,7.0,2016.0,p,phone,False,2006,False,9.0,False,6.107023,127.0
293371,0,ADULT,35907,116,35 to 44 years,V3,Visitacion Valley,7.0,2016.0,p,phone,False,2003,False,NaN,True,4.762174,163.0

In [64]:
df

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,is_adult,log_renewals,Membership Duration
0,0,ADULT,0,0,20 to 24 years,P1,Park,NaN,NaN,z,email,True,2014,False,5.0,True,0.000000,0.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,4.0,2016.0,z,email,True,2010,False,4.0,True,3.135494,76.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,NaN,NaN,a,print,False,2016,True,NaN,True,0.000000,0.0
3,0,ADULT,0,0,25 to 34 years,X,Main Library,NaN,NaN,z,email,True,2015,False,3.0,True,0.000000,0.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,1.0,2016.0,z,email,True,2003,False,2.0,True,2.484907,157.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,3.0,2015.0,p,phone,False,2009,False,9.0,True,2.639057,75.0
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,7.0,2016.0,z,email,True,2016,False,6.0,True,2.484907,7.0
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,7.0,2016.0,z,email,True,2014,False,9.0,False,4.077537,31.0
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,4.0,2015.0,z,email,True,2003,False,9.0,True,0.000000,148.0
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,NaN,NaN,a,print,False,2015,False,8.0,False,0.000000,0.0

In [72]:
#Wie viele Personen stammen aus dem Norden San Franciscos (Supervisor Districts 1, 2 und 3): 70091
# warum mit function Series.isin()? 
filter2 = (df['Supervisor District'] >= 1) & (df['Supervisor District'] <=3)
df.loc[filter2]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,is_adult,log_renewals,Membership Duration
3,0,ADULT,0,0,25 to 34 years,X,Main Library,NaN,NaN,z,email,True,2015,False,3.0,True,0.000000,0.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,1.0,2016.0,z,email,True,2003,False,2.0,True,2.484907,157.0
13,0,ADULT,88,64,35 to 44 years,A5,Anza,7.0,2016.0,z,email,True,2011,False,1.0,True,4.174387,67.0
14,0,ADULT,22,6,45 to 54 years,M2,Marina,5.0,2016.0,z,email,True,2010,False,2.0,True,1.945910,77.0
17,0,ADULT,5,1,25 to 34 years,A5,Anza,1.0,2012.0,z,email,True,2009,False,1.0,True,0.693147,37.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423415,1,JUVENILE,475,148,0 to 9 years,P9,Presidio,7.0,2016.0,z,email,True,2014,False,2.0,False,5.003946,31.0
423418,3,SENIOR,6,1,75 years and over,R3,Richmond,9.0,2015.0,p,phone,False,2014,False,1.0,False,0.693147,21.0
423420,1,JUVENILE,5,0,10 to 19 years,R3,Richmond,7.0,2015.0,z,email,True,2015,False,1.0,False,0.000000,7.0
423427,1,JUVENILE,42,1,0 to 9 years,X,Main Library,7.0,2016.0,z,email,True,2015,False,3.0,False,0.693147,19.0
423441,3,SENIOR,1812,0,75 years and over,C2,Chinatown,7.0,2016.0,p,phone,False,2012,False,3.0,False,0.000000,55.0

In [79]:
#Wie viele Prozent der Beobachtungen haben eine Membership Duration von Null Monaten? 16.036%
total  = len(df)
filter4 = (df['Membership Duration'] == 0)
teil = len(df.loc[filter4])
percent = (teil/total)*100
print(percent)

16.035971358938998

# 2.7 Datentypen & 2.8 Exkurs: Fehlende Werte (20 Min) &2.9

2.7 ->
Was unterscheidet den Wert None vom Wert "None"? Was den Wert 5 vom Wert "5"? Was den Wert "NaN" vom Wert NaN? Ist True und "True" das gleiche?

"None", "5", "NaN" "True" sind STRING Type
NaN: Not a Number, 5: integer True: bool, None: NULL objects

In [82]:
#2.9
df.head(10)

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District,is_adult,log_renewals,Membership Duration
0,0,ADULT,0,0,20 to 24 years,P1,Park,NaN,NaN,z,email,True,2014,False,5.0,True,0.000000,0.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,4.0,2016.0,z,email,True,2010,False,4.0,True,3.135494,76.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,NaN,NaN,a,print,False,2016,True,NaN,True,0.000000,0.0
3,0,ADULT,0,0,25 to 34 years,X,Main Library,NaN,NaN,z,email,True,2015,False,3.0,True,0.000000,0.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,1.0,2016.0,z,email,True,2003,False,2.0,True,2.484907,157.0
5,3,SENIOR,0,0,65 to 74 years,C2,Chinatown,NaN,NaN,z,email,True,2015,True,NaN,False,0.000000,0.0
6,0,ADULT,3002,1689,25 to 34 years,P5,Portola,7.0,2016.0,p,phone,True,2004,False,9.0,True,7.432484,151.0
7,0,ADULT,4,0,25 to 34 years,C2,Chinatown,7.0,2014.0,p,phone,True,2014,False,5.0,True,0.000000,7.0
8,0,ADULT,20,0,25 to 34 years,S7,Sunset,6.0,2015.0,z,email,True,2011,False,7.0,True,0.000000,54.0
9,0,ADULT,3,1,60 to 64 years,A5,Anza,6.0,2016.0,z,email,True,2013,False,NaN,True,0.693147,42.0

In [133]:
# 2.8
df = pd.read_csv("../data/Library_Usage.csv")
print(df.isna().sum())
df_clean = df.dropna()
print(len(df_clean))
## Welche Spalten enthalten alles fehlende Werte?Age Range, Home Library Code, Supervisor District
print("entferne Daten Anzahl: ")
print(len(df) - len(df_clean))   #Wie viele Beobachtungen wurden dabei entfernt 110480 Datensätze
df_clean.to_csv('../data/Library_Usage_Clean.csv')

Patron Type Code                     0
Patron Type Definition               0
Total Checkouts                      0
Total Renewals                       0
Age Range                          215
Home Library Code                   40
Home Library Definition              0
Circulation Active Month             0
Circulation Active Year              0
Notice Preference Code               0
Notice Preference Definition         0
Provided Email Address               0
Year Patron Registered               0
Outside of County                    0
Supervisor District             110310
dtype: int64
312968
entferne Daten Anzahl:
110480

In [126]:
df_na_values = pd.read_csv("../data/Library_Usage.csv", na_values="None")
df_na_values.isna().sum()

Patron Type Code                     0
Patron Type Definition               0
Total Checkouts                      0
Total Renewals                       0
Age Range                          215
Home Library Code                   40
Home Library Definition              0
Circulation Active Month         67904
Circulation Active Year          67904
Notice Preference Code               0
Notice Preference Definition         0
Provided Email Address               0
Year Patron Registered               0
Outside of County                    0
Supervisor District             110310
dtype: int64

In [134]:
df_clean2 = df_na_values.dropna()
df_clean2.to_csv('../data/Library_Usage_Clean_na_value_option.csv')
df_clean2

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016.0,z,email,True,2010,False,4.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016.0,z,email,True,2003,False,2.0
6,0,ADULT,3002,1689,25 to 34 years,P5,Portola,July,2016.0,p,phone,True,2004,False,9.0
7,0,ADULT,4,0,25 to 34 years,C2,Chinatown,July,2014.0,p,phone,True,2014,False,5.0
8,0,ADULT,20,0,25 to 34 years,S7,Sunset,June,2015.0,z,email,True,2011,False,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423442,2,YOUNG ADULT,608,364,10 to 19 years,S7,Sunset,July,2016.0,z,email,True,2003,False,7.0
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,March,2015.0,p,phone,False,2009,False,9.0
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,July,2016.0,z,email,True,2016,False,6.0
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,July,2016.0,z,email,True,2014,False,9.0
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,April,2015.0,z,email,True,2003,False,9.0