In [14]:
import os
import pandas as pd
 
dir = os.getcwd().replace("notebook","")
#print(dir+os.path.sep+"data"+os.path.sep)
pd.read_csv(dir+os.path.sep+"data"+os.path.sep+"Library_Usage.csv")
#output  423448 rows Ã— 15 columns: 423448 DatensÃ¤tze, 15 Merkmale

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,0,ADULT,0,0,20 to 24 years,P1,Park,None,None,z,email,True,2014,False,5.0
1,0,ADULT,31,22,25 to 34 years,S7,Sunset,April,2016,z,email,True,2010,False,4.0
2,0,ADULT,0,0,45 to 54 years,P1,Park,None,None,a,print,False,2016,True,NaN
3,0,ADULT,0,0,25 to 34 years,X,Main Library,None,None,z,email,True,2015,False,3.0
4,0,ADULT,126,11,45 to 54 years,M2,Marina,January,2016,z,email,True,2003,False,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423443,0,ADULT,291,13,10 to 19 years,P5,Portola,March,2015,p,phone,False,2009,False,9.0
423444,0,ADULT,15,11,60 to 64 years,M8,Mission Bay,July,2016,z,email,True,2016,False,6.0
423445,5,STAFF,208,58,0 to 9 years,B4,Bernal Heights,July,2016,z,email,True,2014,False,9.0
423446,0,ADULT,26,0,10 to 19 years,M6,Mission,April,2015,z,email,True,2003,False,9.0
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,None,None,a,print,False,2015,False,8.0

In [23]:
df = pd.read_csv(dir+os.path.sep+"data"+os.path.sep+"Library_Usage.csv")
type(df)
#data taye :pandas.core.frame.DataFrame

pandas.core.frame.DataFrame

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423448 entries, 0 to 423447
Data columns (total 15 columns):
Patron Type Code                423448 non-null int64
Patron Type Definition          423448 non-null object
Total Checkouts                 423448 non-null int64
Total Renewals                  423448 non-null int64
Age Range                       423233 non-null object
Home Library Code               423408 non-null object
Home Library Definition         423448 non-null object
Circulation Active Month        423448 non-null object
Circulation Active Year         423448 non-null object
Notice Preference Code          423448 non-null object
Notice Preference Definition    423448 non-null object
Provided Email Address          423448 non-null bool
Year Patron Registered          423448 non-null int64
Outside of County               423448 non-null bool
Supervisor District             313138 non-null float64
dtypes: bool(2), float64(1), int64(4), object(8)
memory usage: 42.8+ MB

In [26]:
df.columns

Index(['Patron Type Code', 'Patron Type Definition', 'Total Checkouts',
       'Total Renewals', 'Age Range', 'Home Library Code',
       'Home Library Definition', 'Circulation Active Month',
       'Circulation Active Year', 'Notice Preference Code',
       'Notice Preference Definition', 'Provided Email Address',
       'Year Patron Registered', 'Outside of County', 'Supervisor District'],
      dtype='object')

In [45]:
dfbyYear= data.sort_values(by='Circulation Active Year')
dfbyYear[1:2]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
151205,0,ADULT,7,9,35 to 44 years,X,Main Library,December,2003,a,print,False,2003,False,6.0

In [37]:
dfbyYear[423447:]
# daten von 2003 bis 2019 aber es gibt fehlende Werte.
#Zeilen auswÃ¤hlen ddata[anfang index:end index+1]

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
423447,1,JUVENILE,0,0,0 to 9 years,E7,Eureka Valley/Harvey Milk Memorial,None,None,a,print,False,2015,False,8.0

In [72]:
#select column 
dfbyYear['Circulation Active Year']

393676    2003
151205    2003
110721    2003
194544    2003
416917    2003
          ...
228023    None
228020    None
228019    None
228089    None
423447    None
Name: Circulation Active Year, Length: 423448, dtype: object

# 2.2 Skalenniveau und Datentypen

In [73]:
x= pd.Series([34,12,23,45])
print(x)
x.dtype

0    34
1    12
2    23
3    45
dtype: int64

dtype('int64')

In [74]:
data = {'month': ['Jan', 'Feb', 'Mar'],
        'temp': [-5, 2, 3],
        'below_zero': [True, False, False]}
df2=pd.DataFrame(data)
print(df2)
df2.info()

  month  temp  below_zero
0   Jan    -5        True
1   Feb     2       False
2   Mar     3       False
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
month         3 non-null object
temp          3 non-null int64
below_zero    3 non-null bool
dtypes: bool(1), int64(1), object(1)
memory usage: 179.0+ bytes

# Skalenniveau
month: norminal diskret object

temp: kardinal stetig int

below_zero: norminal diskret bool

In [76]:
df3 =pd.DataFrame([["Apr",5, False]],columns=df2.columns)
#df2.append(df3,ignore_index=True)
#print(df2.columns)
#print(df2)
#print(df3)
df2=df2.append(df3,ignore_index=True)
print(df2)

  month  temp  below_zero
0   Jan    -5        True
1   Feb     2       False
2   Mar     3       False
3   Apr     5       False

In [77]:
df4 =pd.DataFrame([2020,2020,2020,2020],columns=["year"])
df2.join(df4)

  month  temp  below_zero  year
0   Jan    -5        True  2020
1   Feb     2       False  2020
2   Mar     3       False  2020
3   Apr     5       False  2020

# 2.3 Exkurs: Datenrundreise

In [80]:
import os
import pandas as pd
 
dir = os.getcwd().replace("notebook","")
#print(dir+os.path.sep+"data"+os.path.sep)
dfsmall=pd.read_csv(dir+os.path.sep+"data"+os.path.sep+"Library_Usage_Small.csv")
dfsmall

,Patron Type Code,Patron Type Definition,Total Checkouts,Total Renewals,Age Range,Home Library Code,Home Library Definition,Circulation Active Month,Circulation Active Year,Notice Preference Code,Notice Preference Definition,Provided Email Address,Year Patron Registered,Outside of County,Supervisor District
0,1,JUVENILE,518,8,10 to 19 years,V3,Visitacion Valley,July,2016,p,phone,False,2010,False,10.0
1,1,JUVENILE,38,0,0 to 9 years,P1,Park,June,2016,z,email,True,2015,False,4.0
2,0,ADULT,38,4,10 to 19 years,N4,Noe Valley/Sally Brunn,November,2008,z,email,True,2003,False,8.0
3,0,ADULT,48,48,20 to 24 years,O7,Ortega,February,2013,p,phone,False,2004,False,10.0
4,1,JUVENILE,28,13,0 to 9 years,E9,Excelsior,June,2016,z,email,True,2014,False,11.0
5,1,JUVENILE,1,0,10 to 19 years,M4,Merced,May,2016,z,email,True,2016,False,11.0
6,1,JUVENILE,293,11,0 to 9 years,M6,Mission,June,2016,z,email,True,2014,False,8.0
7,1,JUVENILE,900,6,0 to 9 years,V3,Visitacion Valley,June,2016,a,print,False,2011,False,10.0
8,1,JUVENILE,1569,801,10 to 19 years,W4,Western Addition,July,2016,z,email,True,2009,False,8.0
9,1,JUVENILE,45,0,0 to 9 years,A5,Anza,June,2016,z,email,True,2015,False,1.0
10,1,JUVENILE,0,0,0 to 9 years,S7,Sunset,None,None,p,phone,False,2015,False,7.0
11,1,JUVENILE,73,8,0 to 9 years,P3,Parkside,July,2016,z,email,True,2015,False,4.0
12,1,JUVENILE,12,0,0 to 9 years,X,Main Library,October,2015,z,email,True,2015,False,6.0
13,2,YOUNG ADULT,26,3,10 to 19 years,M4,Merced,November,2015,z,email,True,2009,False,NaN
14,0,ADULT,0,0,10 to 19 years,M4,Merced,None,None,z,email,True,2015,True,NaN
15,3,SENIOR,18,6,75 years and over,W2,West Portal,June,2015,p,phone,False,2003,False,7.0
16,1,JUVENILE,603,0,0 to 9 years,X,Main Library,July,2016,a,print,False,2012,False,11.0
17,1,JUVENILE,0,0,0 to 9 years,A5,Anza,None,None,z,email,True,2015,False,1.0
18,1,JUVENILE,7,0,0 to 9 years,B2,Bayview/Linda Brooks-Burton,December,2013,p,phone,False,2013,False,10.0
19,3,SENIOR,0,0,75 years and over,S7,Sunset,None,None,z,email,True,2008,True,NaN

In [90]:
dfsmall.to_json("../data/Library_Usage_Small.json")

In [91]:
pd.read_json("../data/Library_Usage_Small.json").to_html("../data/Library_Usage_Small.html")

In [110]:
type(pd.read_html("../data/Library_Usage_Small.html"))
htmllist = pd.read_html("../data/Library_Usage_Small.html")
htmldf=htmllist[0]
type(htmldf)

#.("../data/Library_Usage_Smallexcel.xlsx")
#htmllist
#pd.DataFrame(htmllist)

pandas.core.frame.DataFrame

In [114]:
htmldf.to_excel('../data/Library_Usage_Smallnew.xlsx', index=False)
dfnewexcel = pd.read_excel('../data/Library_Usage_Smallnew.xlsx')
dfnewexcel.to_csv('../data/Library_Usage_Smallnew.csv')